@import url("https://fonts.googleapis.com/css2?family=Satoshi:wght@500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  font-family: 'Satoshi', sans-serif;
  margin: 0;
  /* bg-[#EDEDED] */
}
/* body {
  background-color: #EDEDED;
} */
button:focus {
  outline: none;
  
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.customDatePickerWidth, 
.customDatePickerWidth > div.react-datepicker-wrapper, 
.customDatePickerWidth > div > div.react-datepicker__input-container
.customDatePickerWidth > div > div.react-datepicker__input-container input {
   width: 100%;
}
.customDatePickerWidth1, 
.customDatePickerWidth1 > div.react-datepicker-wrapper, 
.customDatePickerWidth1 > div > div.react-datepicker__input-container
.customDatePickerWidth1 > div > div.react-datepicker__input-container input {
   width: 90%;
}


.container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
.container::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.container::-webkit-scrollbar-thumb {
  background: #d3d3d3; 
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@keyframes slide-in {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.1s ease-out forwards;
}

@layer components {
  .react-select-container {
    @apply text-textGrey2 text-base font-medium w-full grow shrink basis-0 focus:outline-none !important;
  }

  .react-select-container .react-select__control {
    @apply bg-white border w-full border-neutral-300 rounded-md shadow-sm min-h-[38px] !important;
  }

  .react-select-container .react-select__control--is-focused {
    @apply border-[#35BEB1] ring-1 ring-[#35BEB1] !important;
  }

  .react-select-container .react-select__menu {
    @apply bg-white border border-neutral-300 rounded-md shadow-lg mt-1 !important;
  }

  .react-select-container .react-select__option {
    @apply bg-white text-gray-600 cursor-pointer py-2 px-3 !important;
  }

  .react-select-container .react-select__option--is-focused {
    @apply bg-[#35BEB1] text-white !important;
  }

  .react-select-container .react-select__option--is-selected {
    @apply bg-[#35BEB1] text-white !important;
  }

  .react-select-container .react-select__input-container,
  .react-select-container .react-select__placeholder,
  .react-select-container .react-select__single-value {
    @apply text-gray-600 text-base  !important;
  }
}